@import "tailwindcss";
@plugin "daisyui";

@keyframes screen {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-screen {
  display: inline-flex;
  animation: screen 10s linear infinite;
}
